@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 800;
}
